/* =========== 
    About Main  
================*/
.about-main {
  padding: 70px 80px;
  text-align: center;
  background: #f2f2f2;
}

.about-main-container {
  max-width: 900px;
  margin: auto;
}

.about-main-container h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.about-main-container h3 {
  font-size: 20px;
  margin-bottom: 25px;
  color: #444;
}

.about-main-container p {
  line-height: 1.8;
  font-size: 17px;
  margin-bottom: 40px;
}

.about-main-image img {
  width: 100%;
  max-width: 1100px;
  display: block;
  margin: auto;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .about-main {
    padding: 40px 20px;
  }
}